@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Karla:wght@200;300;400&family=Merriweather&family=Montserrat:wght@900&family=Noto+Sans&family=Poppins&family=Roboto&family=Sacramento&family=Ubuntu&family=Unbounded&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url('./backgoundImage.jpg');
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}